
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body class="productlist">
    <header class="mainNav">
        <a href="index.html">
            <h1>Fashion<span>R</span>Us</h1>
        </a>
        <nav>
            <a href="category.html">Categories</a>
            <a href="#">Brands</a>
            <a href="#">Seasons</a>
        </nav>
    </header>
    <main>
        <h2>Apparel</h2>
	<a href="productlist">gå til productlist</a>
			</main>
	
