---
// @ts-nocheck
import ProductCard from "../components/ProductCard.astro";

const fashionUrl = "https://kea-alt-del.dk/t7/api/products";
const data = await fetch(fashionUrl).then((res) => res.json());

console.log(data);
---


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products By Category</title>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body class="productlist">
    <header class="mainNav">
        <a href="index.html">
            <h1>Fashion<span>R</span>Us</h1>
        </a>
        <nav>
            <a href="category.html">Categories</a>
            <a href="#">Brands</a>
            <a href="#">Seasons</a>
        </nav>
    </header>
    <main>
        <h2>Apparel</h2>
          {data.map((product) => <ProductCard product={product} />)}
    </main>

</body>
    <style>
            h2{
                align-items: center;
                color: rgb(0, 0, 0);
                size: 50px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        </style>
</html>