---
const { product } = Astro.props;
---

<article class="smallProduct">
            <img src="https://kea-alt-del.dk/t7/images/webp/640/1163.webp" alt="product image" />
            <h3>{product.productdisplayname}</h3>
            <p class="subtle">Tshirts | Nike</p>
            <p class="price">DKK <span>1595</span>,-</p>
            <div class="discounted">
                <p>Now DKK <span></span>,-</p>
                <p><span></span>%</p>
            </div>
            <a href=`products/${product.id}`>Read More</a>
        </article>

        <style>
            p{
                color: royalblue;
            }
        </style>