---
const { product } = Astro.props;
const imagePath = `https://kea-alt-del.dk/t7/images/webp/640/${product.id}.webp`
---

<article class="smallProduct">
            <img src={imagePath} alt="product image" />
            <h3>{product.productdisplayname}</h3>
            <p class="subtle">Tshirts | Nike</p>
            <p class="price">DKK <span>1595</span>,-</p>
            <div class="discounted">
                <p>Now DKK <span></span>,-</p>
                <p><span></span>%</p>
            </div>
            <a href=`products/${product.id}`>Read More</a>
        </article>

        <style>
            h3{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: rgb(71, 78, 104);
                background-color: rgb(235, 231, 225);
                font-size: 30px;
                padding: 20px;
            }
            
            p{
                color: rgb(68, 71, 81);
                 padding: 0 20px;
            }
        </style>