---
//@ts-nocheck
export async function getStaticPaths() {
  const data = await fetch("...").then((response) => response.json());

  return data.map((products) => {
    return {
      params: { id: String(products.id) },
      props: { products },
    };
  });
}

const { products } = Astro.props;
---

<h1>{products.productdisplayname}</h1>
<p>{products.price}</p>


